.header {
    text-align: center;
    font-style: italic;
    color: cadetblue;
}

.logo {
    width: 50%;
    height: 20%;
    border: 4px solid navy;
    background-size: cover;
    position: absolute;
    left: 25%;
    text-align: center;
}

.block {
    width: 50%;
    height: 5%;
    position: absolute;
    left: 25%;
    border: 4px solid navy;
    top: 30%;
}

.searchImage {
    width: 1%;
    height: 20%;
}

.fileImage {
    width: 1%;
    height: 20%;
}

.link {
    text-decoration: none;
}

/* Data Table */

.searchHeader {
    width: 50%;
    height: 3%;
    position: absolute;
    border: 4px solid navy;
    left: 25%;
    top: 36%;
    text-align: center;
    font-weight: bold;
}