.header {
    text-align: center;
    font-style: italic;
    color: cadetblue;
}

.logo {
    width: 50%;
    height: 25%;
    border: 4px solid navy;
    background-size: cover;
    position: absolute;
    left: 25%;
    text-align: center;
}

.block {
    width: 50%;
    height: 10%;
    position: absolute;
    left: 25%;
    border: 4px solid navy;
    top: 39%;
}