.header {
    text-align: center;
    font-style: italic;
    color: cadetblue;
}

.wrapper {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 50%;
    margin: 0 auto;
    min-width: 715px;
    min-height: 407px;
}

.image-block {
    border: 1px solid lightblue;
    height: 150px;
}

.form-control {
    width: 150px;
    height: 10px;
}

.image {
    width: 100%;
    height: 150px;
    background-size: cover;
}

.search-panel-custom {
    height: 25px;
    border: 1px solid lightblue;
    border-bottom: none;
    border-top: none;
}

.search-image {
    width: 10px;
    height: 10px;
    margin: 0px 3px 0 8px;
}

.file-image {
    width: 10px;
    height: 10px;
    margin: 8px 3px 0 8px;
}

.link {
    text-decoration: none;
}

.product-search {
    height: 20px;
    border: 1px solid lightblue;
    border-bottom: none;
    text-align: center;
    font-weight: bold;
    background-color: aliceblue;
}

.search-button-block {
    padding: 5px;
    border: 1px solid lightblue;
    border-top: none;
    border-bottom: none;
}

/* Data Table */

.paginatior-block {
    height: 20px;
    border: 1px solid lightblue;
    text-align: center;
    font-weight: bold;
    background-color: aliceblue;
}

.save-button-block {
    padding: 5px;
    border: 1px solid lightblue;
    border-bottom: none;
    border-top: none;
}

.selected {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40;
}